:root {
    --clr-primary-400: hsl(136, 65%, 51%);
    --clr-primary-500: hsl(192, 70%, 51%);
    --clr-primary-800: hsl(233, 26%, 24%);

    --clr-neutral-500: hsl(233, 8%, 62%);
    --clr-neutral-200: hsl(220, 14%, 96%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    --clr-white: hsl(0, 0%, 100%);

    --fs: 18px;
    --ff: 'Public Sans', sans-serif;

    --fw-light: 300;
    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    font-family: var(--ff);
    font-size: var(--fs);
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: var(--fw-light);
    color: var(--clr-primary-800);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 0.875rem;
    line-height: 1.8;
    letter-spacing: calc(1px / 4);
    color: var(--clr-neutral-500);
    padding-left: var(--fs);
    padding-right: var(--fs);
}
